@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<h3><strong>The Present:</strong> Who am I?</h3>

<br />
<h3><strong>The Past:</strong> Education & Employment</h3>

<br />
<h3><strong>The Future:</strong> My Ambitions</h3>